html {
  position: relative;
  min-height: 100%;
}


.footer {
}

.navbar {
  margin-bottom: 10px;
  
}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}


body > .container {
  padding: 10px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.productsList {
background-color: ffffff;    
}

.productsList .product {
   border: 1px solid #CADFE4;
   padding: 5px;
}

.productsList .product::after {
    display: table;
    content: " ";
    clear: both;
}

.productsList .product .productImage{
    width: 100px;
    height: 100px;
    display:inline-block;
    vertical-align:top;
  }

.productsList .product .productInfo {
    display:inline-block;
    vertical-align:top;
    padding-left: 30px;

}

.itemdisplay {
    border: 1px solid #CADFE4;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
   

}