#page_footer {
    clear: both;
    border: 1px solid #d2d5d5;
    background-color: #f3f3f3;
    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 5px rgba(0,0,0,.2);
    box-shadow: 0 1px 5px rgba(0,0,0,.2);
        min-height: 190px;
}

div.footer_top {
    display: block;
    position: relative;
    background-color: #f3f3f3;
    float: left;
    padding: 0;
    width: 100%;
    height: auto;
}

div.footer-item {
    width: 25%;
    float: left;
    display: block;
}

div.footer-bottom {

}

.footer-bottom ul {
        border-right: 1px solid #ddd;
        padding: 15px 15px 0 15px;
}

.footer-bottom ul li a {
            color: #666 !important;
}



div.footer_top ul li.header {
    background-color: #e8e9e9;
    float: left;
    height: 100%;
    width: 20%;
    padding: 15px 15px 0 15px;
}

div.footer_top ul li.header.noborder {
    border-right: 0;
}

div.footer_top ul li.header {
    background-color: #e8e9e9;
    float: left;
    height: 30px;
    width: 160px;
    padding: 15px 15px 0 15px;
}


div.footer_top h2 {
    color: #000;
    font-size: 11px;
    font-weight: bold;
    padding: 0;
    background: 0;
    width: 100%;
    height: 20px;
    line-height: normal;
    margin-bottom: 5px;
}

div.footer_top ul li.header ul.noborder {
    border-right: 0;
}




div.footer_top ul li.header ul {
    height: 150px;
    background-color: #f3f3f3;
    margin-top: 6px;
    border-right: 1px solid #d2d5d5;
    padding: 10px 15px 0 0;
}

div.footer_top ul {
    float: left;
    height: 45px;
    width: 100%;
    background-color: #e8e9e9;
}

div.footer_top ul li.header ul li {
    margin-bottom: 8px;
}

div.footer_top a {
    color: #666 !important;
    font-size: 11px;
    text-decoration: none;
}