
    #myNavbar {
    	margin-bottom: 10px;
    }


  
   

    #content
    {
    	margin-right: 2.5%;
    	margin-left:5%;
    }
    .top
    {
    	  border-right: solid lightgrey 1px;
          height: 34px;

    }

     .collapse .dropdown
    {
    	  border-right: 1px solid orange;
          height: 40px;
    }

    li a 
    {
    	font-size: smaller;
    }

    .jumbotron {
height: 0px;
width: 65%;
margin : 0 0 0 0;
padding-top: 10px;
}



.megaMenu span
{
margin-left: 0px;
}

.navbar
{
    min-height: 35px;
}

.upper li  a
{
    padding-top: 10px;
    padding-bottom: 10px;
}

.category li a 
{
    padding-top: 4px;
    padding-bottom: 4px;
}